


body {
    background-color:#F09B4A;
    background-image: linear-gradient(to bottom, #f5c191, #efb075 );

}
h1 {
    font-size: 150%;
    text-align:center;
    font-family:Impact;
}
p {
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left:5%;
    padding-right:5%;
}
h3 {
    font-style: italic;
    text-align:center
}
h4 {
    font-size: 25%;
    text-align:end;
    font-style:italic;
    text-align:center;
}
h2 {
    font-size: 200%;
    text-align:center;
    color:hsl(196, 82%, 47%)

}
.centerImage {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:25%;
    height:25%;

}
h5 {
    font: size 75%;
    text-align:center;
    font-style:italic;
}

.topnav {
    text-align:right;
    outline-width: 8px;
    outline-color: black;
    outline-style: ridge;
    padding: 8px;
    background-color:#f7aa46
}
h6 {
    text-align:left
}
.topnavLink {
    padding-right:2.5%;
}

.mainText {
    width: 50%;
    background-color:white;
    margin-left: 25%;
    margin-right:25;
    display:block;
    border-style:ridge;
    margin-top:2%;

}

